version: "3.8"

services:
  app:
    build: .
    ports:
      - "5004:5004"
    environment:
      - MONGO_URL=mongodb://mongo:27017/gomoney
      - REDIS_URL=redis://redis:6379
    depends_on:
      - mongo
      - redis
  mongo:
    image: mongo:7.0
    ports:
      - "27017:27017"
  redis:
    image: redis:7.0.15-alpine
    ports:
      - "6379:6379"
